@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

body {
    font-family:  "Prompt", sans-serif !important;
}

html {
    scroll-behavior: smooth !important;
}

#status-bar {
    position: fixed !important;
    top: 0 !important;
    z-index: 9999 !important;
    width: 100% !important;
    text-align: center !important;
}

#goToNewBtn {
    width: 3em !important;
    height: 3em !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: bold !important;
    border-radius: 50% !important;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.3) !important;
    position: fixed !important;
    bottom: 1em !important;
    right: 1em !important;
    z-index: 9998 !important;
}

header {
    padding: 0.8em !important;
    margin-bottom: 1em !important;
}

h1 {
    margin: 0 !important;
    font-size: 2em !important;
}

.card .card-body {
    padding: 0.5em !important;
}

@media screen and (max-width: 991px) {
    #goToNewBtn {
        right: 0.5em !important;
        bottom: 3em !important;
    }

    h1 {
        font-size: 1.2em !important;
    }

    .container .row {
        display: block !important;
        margin: 0 !important;
        padding-bottom: 2em !important;
    }

    .container .row .col-9,
    .container .row .col-3 {
        max-width: 100% !important;
    }

    .container .row .col-3 {
        padding: 0 !important;
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;
        z-index: 999 !important;
    }

    .card .card-body {
        font-size: 0.8em !important;
    }

    label {
        border-radius: 0 !important;
    }
}